                                /* Font */
.unlogged-heading ,h1,.unlogged-link-login{
    font-family: sans-serif;
}
h3{
    font-family:sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

body{
} 
                                /* Header */
.title-link{
    text-decoration: none;
    color: currentColor;
}
.top-bar{
    background-color: white;
    height: 100%;
    width: 100%;
}
h1{
    margin: auto;
    width: 300px;
}
.unlogged-btn{
    border: 2px solid;
    border-radius: 35px;
    box-sizing: border-box;
    color: #2d96c8;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 30px;
    text-align: center;
    font-family:sans-serif;
    cursor: pointer;
}
#topbar-signin-button:hover{
    background-color:#3B7199;;
}
#topbar-login-button:hover{
    color: #3B7199;
}
#topbar-signin-button{
    background-color: #2d96c8;
    color: white;
}
.cell-profile{
    text-align: right;
    margin-right: 50px;
}
.unlogged-link:hover{
    
}
                                /* Bloc Page */
.unlogged-container-inner{
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    flex-wrap: wrap;
    height: auto;
   
}
.unlogged-social{
display: flex;
}
.login-btn{
    background-color: white;
    cursor: pointer;
    border: none;
    font-size: 20px;
    margin: 15px;
    border-radius: 5px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#unlogged-btn-facebook{
    background-color: #4267b2;
    color: white;
    border: 1.5px solid #4267b2
}
#unlogged-btn-facebook:hover{
    color: #4267b2;
    background-color: white; 
}
#unlogged-btn-google{
     border: 1.5px solid white;
}
#unlogged-btn-google:hover{
     //background-color: #518ef8;
    border: 1.5px solid #518ef8;
}
.unlogged-btn-pink{
    background-color:white;
}
.unlogged-btn-pink:hover{
    color: #3B7199; 
}
.logo_login{
    border-radius: 10px;
    width: 30px;
    margin-top:1px; 
}
                                    /* Form */

.unlogged-register-form{
    width: 430px;
    //border: 1px solid black;
}
.unlogged-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px; 
    width: auto;
    margin: auto;
}
.unlogged-input-container-names{
    display:flex ;
    justify-content:space-between;
   
}
.unlogged-pwd-indications{
    align-items: stretch;
}
input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #82837F;
    padding-left: 20px;
    font-size: 0.91rem;
}
.unlogged-input-group{
    display: flex;
    justify-content:space-around;
}

                                    /* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px grey;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 30px;
    border-radius: 30px;
    text-align: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(150,170,190,0.3);  
}

#modal-login-button{
    width: 100%;
    margin-top: 20px;
}
.modal-input{
    margin: 1px;
}